In [3]:
import csv
with open('python.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Hello..!!']
['It is python world!']
['welcome to this world..']

In [5]:
import csv
with open('people.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', '   Age', ' Profession']
['Jack', '   23', '  Doctor']
['Miller', ' 22', '  Engineer']

In [6]:
import pandas as pd
pd.read_csv("people.csv")

     Name     Age  Profession
0    Jack      23      Doctor
1  Miller      22    Engineer

In [ ]:
#Code for seattle,vgsales and housing using csv file
import pandas as pd
d=pd.read_csv("housing.csv",sep=',')
print(d)